h3 {
  color: green;
  text-align: center;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.winner {
  border: 2px solid red;
}

.row {
  display: flex;
  flex-direction: row;
}

#title {
  background-color: red;
  text-align: center;
}
#game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
